.container{
    height: 800;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(999px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #fff;
    border-radius: 10px;
    padding: 50px 50px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;

}
.header{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.text{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}
.inputs{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 300px;
    height: 50px;
    background: #eaeaea;
    border-radius: 4px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 25px;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
    align-items: center;
    padding-left: 500px;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: transparent;
    border-radius: 50px;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    padding-left: 50px;
}